<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<title>Check</title>
	 <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	 <link rel="shortcut icon"  href="favicon.ico">
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
	<script th:src="@{jquery-3.1.1.js}" type="text/javascript"></script>
	<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
	<div th:fragment="header">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/}">签到系统</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li th:if="${session.student} == null"><a th:href="@{/RegisterForm}">注册</a></li>
				<li th:if="${session.student} == null"><a th:href="@{/LoginForm}">登录</a></li>
				<li th:if="${session.student}"><a th:href="@{/Logout}">登出</a></li>
				<li th:if="${session.student}"class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						课程
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/MyCourse}">我的课程</a></li>
						<li><a th:href="@{/Courses(pageNum=0)}">加入课程</a></li>
					</ul>
				</li>
			</ul>
		</div>
		</div>
	</nav>

	<div class="jumbotron">
		<div class="container">
			<div class="row text-left">
			<h1>Welcome！</h1>
			<p>等你很久了！</p>
			<p th:if="${session.student} == null">
				<a th:href="@{/RegisterForm}">
			  	<span class="glyphicon glyphicon-hand-right" style="text-shadow: black 2px 1px 1px;font-size: 30px ">没账号?加入我们吧!</span>
			    </a>
			</p>
			<p th:if="${session.student}">
				<a th:href="@{/Courses(pageNum=0)}">
					<span class="glyphicon glyphicon-hand-right" style="text-shadow: black 2px 1px 1px;font-size: 30px ">看看课程吧!</span>
				</a>
			</p>
			</div>
			<div class="row text-right">
			<img src="cat.jpg" class="img-rounded" align="right" alt="Cinque Terre" width="400" height="300" style="position:absolute;left:800px; top:70px;">
			</div>
		</div>

	</div>
	</div>
</div>


</body>
</html>