<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <title>Check</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <link rel="shortcut icon"  href="favicon.ico">
    <script th:src="@{jquery-3.1.1.js}" type="text/javascript"></script>
    <script th:src="@{jquery.validate.js}" type="text/javascript"></script>
    <script th:src="@{messages_zh.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>

    <style>
        .tr_style{
            font-size: large;
            font-family: Monaco;
        }
    </style>

</head>





<body>


<div class="container">
    <th:block th:include="/index :: header"></th:block>

    <div th:if="${not #lists.isEmpty(checks)}" style="font-size:x-large;font-family:InputMono;color: green" th:text="${student}+'同学,这是您的课程信息!'">
    </div>
    <div th:if="${#lists.isEmpty(checks)}" style="font-size:x-large;font-family:InputMono;color: green" th:text="${student}+'同学,抱歉您还未添加任何课程!'">
    </div>

    <div th:if="${not #lists.isEmpty(checks)}">
        <!--<h2>Course List</h2>-->
        <table class="table table-striped">
            <tr class="tr_style">
                <th>课程编号</th>
                <th>课程</th>
                <th>课堂</th>
                <th>总签到次数</th>
                <th>总出勤次数</th>
                <th>我的记录</th>
                <th>退课</th>
            </tr>
            <tr th:each="check : ${checks}" class="tr_style">
                <td th:text="${check.cno}"></td>
                <td th:text="${check.cname}"></td>
                <td th:text="${check.classroom}"></td>
                <td th:text="${check.total}"></td>
                <td th:text="${check.attend_times}"></td>
                <td><a th:href="@{/Record(cno=${check.cno})}">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-arrow-right" style="color: rgb(255, 140, 60); font-size: medium"></span>
                    </button>
                </a></td>
                <td><a th:href="@{/RemoveCourse(cno=${check.cno})}">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-arrow-right" style="color: rgb(255, 140, 60); font-size: medium"></span>
                    </button>
                </a></td>
            </tr>
        </table>
    </div>

    <div style="font-size:x-large;font-family:InputMono;color: green" th:text="${message}">
    </div>
    <div th:if="${not #lists.isEmpty(checks)}" style="font-size:medium;font-family:Monaco;color: red">
        (注意:退出课程会清空您在该课堂下的所有签到记录!)
    </div>
</div>
</body>
</html>